body {
    padding-bottom: 1500px;
    
}
.header {
    display: flex;
    height: 70px;
    margin-bottom: 20px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-right: 24px;
    z-index: 100;    
    background: linear-gradient(45deg, #023047,#219ebc);
<<<<<<<< HEAD:worldoftemplates/static/css/novbar.css
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.562);
========
>>>>>>>> 51544f9 (Commit):worldoftemplates/static/css/navbarr.css
    
    
}
.left-side  {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.team-logo {
    object-fit: cover;
    margin-left: 30px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
}
.project-name {
    color: white;
    font-family: Lexend Giga;
    font-weight: bold;
    margin-left: 10px;
    font-size: 28px;
    cursor: pointer;
    color: white;

}

.right-side {
    display: flex;
    flex-direction: row;
    align-items: center;
    
   
    justify-content: space-between;
    
    
    flex-shrink: 0;
    gap: 22px;
    
}
a {
    font-family: Roboto;
    font-weight: 500;
    padding: 0;
    text-align: center;
    position: relative;
    display: inline-block;
    cursor: pointer;
    font-size: 22px;
    color: white;
    text-decoration: none;
}

a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 1.5px;
    background-color: #fb8500;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom left right;
    transition: transform 0.4s ease-in-out;
}

a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom right left;

    
}
a:hover {
    color: #fb8500;
    
 
    transition: color 0.4s;
}

