{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Login page</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{% static '/css/loginPagee.css' %}">


    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f9;
            display: flex;
            justify-content: center; 
            align-items: center;
            height: 100vh;
            background-image: url("{% static '/images/OIG4.jfif' %}");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
    }

    </style>
</head>
<body>
    <div class="container">
        <div class="form-container">
            <h2>LOGIN</h2>
            <form action="#" method="POST">
                {% csrf_token %}
                
                <input type="text" id="username" name="username" required placeholder="Username or Email or a Phone Number">
                                              
                <input type="password" id="password" name="password" required placeholder="Password">

                <button type="submit" class="submit-btn">SIGN IN</button> 
            </form>

            <div>
                {% for message in messages %}
				    <p style="color: red; font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; font-size: 14px;">{{message}}</p>
			    {% endfor %}
            </div>

            <p>If you don't have an account, here <a href="{% url 'Register' %}">Register!</a></p>
            
            <a href="">Forgot Password?</a>

        </div>
    </div>
</body>
</html>