{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>World of Templates</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <!-- Static CSS file -->
    <link rel="stylesheet" href="{% static 'css/sidebar.css' %}">

</head>
<body>
    <div class="header">
        <div class="left-side">
            <img class="team-logo" src="images/cat-3.jfif">
            <p class="project-name">
                World of Templates
            </p> 
        </div>
        <div class="right-side">
            <a href="{% url 'Home' %}" class="link">
                Home
            </a>
            <a href="" class="link">
                Product type
            </a>

            {% if user.is_authenticated %}

            {% else %}
                <a href="{% url 'Login' %}" class="link">
                    Login
                </a>
            {% endif %}
            <a href="{% url 'profile' %}" class="link">
                Profile
            </a> <!-- Profile link -->

            <a href="{% url 'Contact' %}" class="link">
                Contact
            </a>
            <a href="{% url 'About' %}" class="link">
                About us
            </a>
        </div>
    </div>

</body>
</html>
