<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/formstyle1.css' %}">
</head>
<body>
  <div class="center">
    <h1>Enter Your Email</h1>
    {% if messages %}
      {% for message in messages %}
        <p style="color: #d4ffcc;">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <form class="form" action="{% url 'reset_password' %}" method="POST">
      {% csrf_token %}
      <input class="placeholder" type="email" name="email" placeholder="Enter your email" required>
      <button class="send-button" type="submit">Send Link</button>
    </form>
  </div>
</body>
</html>
