<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/formstyle1.css' %}">
</head>
<body>
  <div class="center">
    <form class="form" method="POST" class="center">
      {% csrf_token %}
      <h1>Set New Password</h1>
      <input class="placeholder" type="password" name="new_password1" placeholder="New password" required>
      <input class="placeholder" type="password" name="new_password2" placeholder="Confirm password" required>
      <button class="send-button" type="submit">Submit</button>
    </form>
  </div>
</body>
</html>
