<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/formstyle1.css' %}">
  </style>
</head>
<body>
  <div class="center">
    <h1>Message Sent</h1>
    <p class="small-text">
      We’ve sent a password to your email. Please check and enter it.
      if you have not received a password, please check your spam folder or try again.
    </p>
  </div>
</body>
</html>
